---
import Layout from "@/layouts/Layout.astro"

const title = "Ошибка 404 - такой страницы не существует"
---

<Layout
	title={title}
	description="Страница не найдена. Возможно, она была удалена или перемещена."
>
	<h1 class="text-4xl text-center font-bold">{title}</h1>
</Layout>
