---
import Layout from "@/layouts/Layout.astro";
import { getLocaleFromUrl, useTranslations } from "@/i18n";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const title = t("notFound.title");
---

<Layout
	title={title}
	classContainer="grid place-content-center"
	description={t("notFound.description")}
>
	<h1 class="text-5xl tracking-tight text-center self-center font-bold">{title}</h1>
</Layout>
