:root[data-accent="green"] {
  --color-accent: #18734F;
  --color-accent-foreground: #FCFCFC;
  --color-accent-vivid: #1C8259;
  --color-accent-glow: #7CC5A6;
}

:root.dark[data-accent="green"] {
  --color-accent: #45C79A;
  --color-accent-foreground: #111012;
  --color-accent-vivid: #52D2A6;
  --color-accent-glow: #8FE3C3;
}
