---
import { getLocaleFromUrl, useTranslations } from "@/i18n";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<a href="/" class="sm:block hidden" aria-label={t("nav.home")}>
	<svg
		width="85"
		height="94"
		class="size-5.5 text-foreground/80 transition-colors hover:text-foreground"
		viewBox="0 0 85 94"
		fill="currentColor"
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
	>
		<path
			d="M41.3116 0.77985C38.5741 2.70439 35.621 5.65756 33.6467 8.39504C32.6512 9.80527 31.3239 12.2939 31.0585 13.3225L30.8926 13.9364L32.1037 14.8489C35.7703 17.5532 38.4248 21.0041 40.3659 25.55C41.1457 27.375 42.025 30.2618 42.2241 31.589C42.2905 32.0038 42.4066 32.3854 42.473 32.4352C42.5393 32.4684 42.7053 31.8877 42.8712 31.1411C44.1321 25.102 46.5211 20.6225 50.5361 16.7568C51.3491 15.9771 52.4773 15.0148 53.0413 14.6332C54.2027 13.8534 54.1861 13.9198 53.3566 12.0782C51.8966 8.80981 48.6448 4.77824 45.2934 2.05734C44.1321 1.12826 42.5725 7.95287e-05 42.4398 7.95287e-05C42.4066 0.0166704 41.9089 0.348489 41.3116 0.77985Z"
		></path>
		<path
			d="M0 13.9255C0 14.0417 0.132727 14.3403 0.315226 14.5726C1.21113 15.8667 2.5384 18.9526 3.30158 21.5905C4.26385 24.975 4.69521 27.7291 4.99384 32.6068C5.19293 35.9748 5.17634 36.4725 4.64544 46.6261C4.39657 51.2383 4.44634 57.5097 4.74498 60.0647C5.87316 69.8035 9.93791 77.6675 17.0056 83.773C22.746 88.717 29.9133 91.9688 37.9101 93.1966C40.4651 93.5948 45.658 93.5948 47.6821 93.18C50.3698 92.6491 53.5884 91.2223 54.7 90.0609C55.2475 89.4968 55.1148 89.3641 53.9368 89.1816C52.7091 88.9991 50.2371 88.0368 48.7605 87.1741C46.9355 86.0957 44.3307 83.5407 43.0698 81.6162C41.1785 78.6962 40.183 75.743 39.5526 71.2635C39.3203 69.6044 39.2705 67.5969 39.2373 59.1522C39.1876 48.4677 39.1046 46.9413 38.3248 43.1918C37.4953 39.2432 35.7367 34.9295 33.5964 31.6114C29.5981 25.4064 25.0688 21.3582 18.5154 18.1064C13.2063 15.4685 8.01338 14.0914 2.37249 13.826C0.530907 13.743 0 13.7762 0 13.9255Z"
		></path>
		<path
			d="M79.9684 13.9504C73.6971 14.5975 67.0939 16.9036 62.0503 20.2052C59.0142 22.1795 55.7624 25.2156 53.6387 28.036C48.8274 34.4235 46.1397 42.4701 45.2604 53.2209C44.9783 56.6055 44.9783 66.9581 45.2604 69.1481C45.5092 71.0561 46.3719 74.4074 47.0356 76.0002C50.2376 83.6983 57.6869 87.3815 65.2689 84.9924C71.2084 83.1342 76.1857 77.7256 78.5084 70.5915C79.7693 66.6927 80.2836 63.0925 80.4164 57.153C80.4993 53.138 80.3168 46.9828 79.9352 42.2212C79.6366 38.2892 79.6864 29.9606 80.0182 27.5383C80.7648 22.1795 82.1086 18.3138 84.3484 15.062C84.7466 14.4647 85.0452 13.9172 84.9954 13.8675C84.8461 13.7347 81.6441 13.7845 79.9684 13.9504Z"
		></path>
	</svg>
</a>
