---
import { links } from "@/data/links";
import { getCollection } from "astro:content";
import ButtonLink from "../ui/ButtonLink.astro";

const centersCount = (await getCollection("centers")).length;
const centersLink = links.find((item) => item.href === "/centers");
---

<section>
	<div class="flex gap-1.5 justify-center flex-wrap items-center">
		<!-- {
			links
				.filter((_, index) => index < 2 || index >= links.length - 2)
				.map((item) => (
					<ButtonLink {...item} badge={item.href === "/posts" ? postsCount : undefined} />
				))
		} -->
		{centersLink && <ButtonLink {...centersLink} badge={centersCount} />}
	</div>
</section>
