---

---

<section class="w-full h-16 sm:h-10 opacity-25 overflow-hidden fade-x">
	<div
		class="size-full bg-repeat-x sm:bg-size-[200%_auto] bg-center bg-[url('/images/words.png')] animate-scroll-x bg-size[500%_auto]"
	>
	</div>
</section>
