---
import { links } from "@/data/links";
import ButtonLink from "./ui/ButtonLink.astro";
---

<section >
	<div class="flex gap-1.5 justify-start flex-wrap items-center">
		{links && links.map((item) => <ButtonLink  {...item} />)}
	</div>
</section>
