---
import { LiquidMetal } from "@paper-design/shaders-react";
---

<div
	aria-hidden="true"
	class="liquid-metal pointer-events-none -mb-0 relative grid h-[140px] w-[140px] place-items-center overflow-hidden mx-auto"
>
	<img
		src="/flower.svg"
		alt=""
		loading="eager"
		class="absolute z-0 h-[82px] w-[82px] object-contain"
	/>
	<LiquidMetal
		client:load
		width={140}
		height={140}
		image="/flower.svg"
		colorBack="#ffffff"
		colorTint="#8ccaff"
		shape={undefined}
		repetition={2}
		softness={0.1}
		shiftRed={0.3}
		shiftBlue={0.3}
		distortion={0.07}
		contour={0.4}
		angle={70}
		speed={1}
		scale={0.6}
		fit="contain"
	/>
</div>

<style>
	.liquid-metal :global(astro-island) {
		position: relative;
		z-index: 1;
		opacity: 0;
		animation: liquid-metal-fade-in 420ms ease-out 120ms forwards;
	}

	@keyframes liquid-metal-fade-in {
		to {
			opacity: 1;
		}
	}
</style>
