---

---

<h1 class="relative select-none overflow-hidden">
	<div class="absolute bg-linear-to-br z-50 from-white/10 to-transparent w-full h-full"></div>
	<div
		class="flex flex-col *:tracking-tight *:md:tracking-[-3.8px] *:font-bold *:text-4xl *:sm:text-5xl *:md:text-6xl *:lg:text-7xl *:uppercase"
	>
		<span class="text-zinc-200 blur-[3px]">мы</span>
		<span class="text-zinc-300 blur-[2px]">татары </span>
		<span class="text-zinc-400 blur-[1.5px]">башкиры</span>
		<span class="text-zinc-500 blur-[1px]">крымские татары</span>
		<div class="space-x-3">
			<span class="text-zinc-600 blur-[0.5px]">везде.</span><span
				class="text-zinc-700 blur-[0.4px]">повсюду.</span
			>
			<span class="text-zinc-800 blur-[0.3px]">навсегда!</span>
		</div>
	</div>
</h1>
