---
// Декоративная бегущая плашка слов внизу главного экрана.

---

<section class="w-full h-8 overflow-hidden fade-x">
	<div
		class="size-full bg-repeat-x sm:bg-size-[200%_auto] bg-center bg-[url('/images/words.png')] animate-scroll-x bg-size-[400%_auto]"
	>
	</div>
</section>
