---
import { getLocaleFromUrl, useTranslations } from "@/i18n";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<h1 class="relative select-none overflow-hidden">
	<div
		class="flex flex-col *:tracking-tight *:font-bold *:uppercase *:text-4xl *:sm:text-5xl *:md:text-6xl *:lg:text-7xl *:md:tracking-[-3.8px]"
	>
		<span class="hero-depth-item text-depth-100">
			{t("home.hero.1")}
		</span>

		<span class="hero-depth-item text-depth-200">
			{t("home.hero.2")}
		</span>

		<span class="hero-depth-item text-depth-300">
			{t("home.hero.3")}
		</span>

		<span class="hero-depth-item text-depth-400">
			{t("home.hero.4")}
		</span>

		<div class="space-x-3">
			<span class="hero-depth-item text-depth-500">
				{t("home.hero.5")}
			</span>

			<span class="hero-depth-item text-depth-600">
				{t("home.hero.6")}
			</span>

			<span class="hero-depth-item text-depth-700">
				{t("home.hero.7")}
			</span>
		</div>
	</div>
</h1>

<style>
	.hero-depth-item {
		display: inline-block;
	}
</style>
