---

---

<footer class="fixed inset-x-0 bottom-5 z-50 mx-auto max-w-fit">
	<div class="sm:px-5 py-2.5 px-10 flex w-full justify-center bg-muted">
		<div class="text-xs sm:text-sm text-muted-foreground">
			<span>
				<span data-i18n="whoDev.made">Made</span>{" "}
				<a
					href="https://github.com/proxima812"
					target="_blank"
					rel="noreferrer noopener"
					class="font-medium text-link underline decoration-link-decoration underline-offset-4 transition hover:decoration-link"
				>
					proxima812
				</a>
			</span>
			<span class="text-subtle-foreground" aria-hidden="true">•</span>
			<span data-i18n="whoDev.forEveryone">for everyone</span>
			<span class="text-subtle-foreground" aria-hidden="true">•</span>
			<span data-i18n="whoDev.inspired">inspired by</span>
			<span class="text-subtle-foreground" aria-hidden="true">•</span>
			<span class="font-semibold">Tatar</span>
			<span class="text-subtle-foreground" aria-hidden="true">•</span>
			<span class="font-semibold">Bashkir</span> &
			<span class="font-semibold">Crimean Tatar</span>
			<span data-i18n="whoDev.culture">culture</span>
		</div>
	</div>
</footer>

<!--

for everyone, inspired by Tatar, Bashkir, and Crimean Tatar culture

-->
