---
import BackButton from "@/components/partials/BackButton.astro";
import Container from "@/components/partials/Container.astro";
import Layout from "./Layout.astro";

interface Frontmatter {
	title?: string;
	description?: string;
	[key: string]: unknown;
}

interface Props {
	frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props as Props;
---

<Layout {...frontmatter}>
	<Container container class="max-w-5xl">
		<BackButton href="/" variant="outline" label="Back" labelKey="nav.back" />
		<div class="my-12 pl-6">
			<span class="text-xs text-primary/40 mb-4 block">
				от {frontmatter.updateInfo}
			</span>
			<h1 class="text-4xl font-bold tracking-tight">{frontmatter.title}</h1>
		</div>

		<main
			class="prose max-w-none rounded-2xl border border-border-muted bg-surface p-8 shadow-2xs ring ring-depth-100/40"
		>
			<slot />
		</main>
	</Container>
</Layout>
