---
import { cn } from "@/utils/libs/cn";

interface Props {
	variant?:
		| "default"
		| "borderless"
		| "no-ring"
		| "gradient"
		| "squircle";
	class?: string;
	outerClass?: string;
	middleClass?: string;
	innerClass?: string;
}

const {
	variant = "default",
	class: className = "",
	outerClass = "",
	middleClass = "",
	innerClass = "",
} = Astro.props;

const base = {
	outer: "max-w-full rounded-4xl corner-squircle",
	middle: "rounded-4xl corner-squircle bg-depth-100/30 p-2 shadow-2xs ring ring-depth-100/70",
	inner:
		"rounded-4xl corner-squircle bg-surface p-6 text-surface-foreground shadow-2xs ring ring-border-muted",
};

const variants = {
	default: {
		outer: "",
		middle: "",
		inner: "",
	},
	borderless: {
		outer: "",
		middle: "bg-transparent p-0 shadow-none ring-0",
		inner: "",
	},
	"no-ring": {
		outer: "",
		middle: "ring-0",
		inner: "ring-0",
	},
	gradient: {
		outer: "",
		middle: "",
		inner: "bg-linear-to-t from-surface to-surface-muted/40",
	},
	squircle: {
		outer: "corner-shape",
		middle: "corner-shape",
		inner: "rounded-3xl corner-shape bg-linear-to-t from-surface to-surface-muted/40",
	},
} as const;

const selectedVariant = variants[variant] ?? variants.default;
---

<section class={cn(base.outer, selectedVariant.outer, className, outerClass)}>
	<div class={cn(base.middle, selectedVariant.middle, middleClass)}>
		<div class={cn(base.inner, selectedVariant.inner, innerClass)}>
			<slot />
		</div>
	</div>
</section>
